body {
    font-family: Raleway;
}

nav {
    background-image: url(../Assets/Hero-bg.png);
}

/* button styles */
.color-btn {
    border-radius: 10px;
    padding: 12px 20px;
    background-color: #4E47FF;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-section {
    text-align: center;
    margin: 158px auto 200px auto;
}

.nav-section h2 {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
    font-family: Inter;
}

.banner-section .heading-sec {
    font-size: 65px;
    color: #252432;
    margin-bottom: 37px;
}

/* action section */
.action-sec {
    display: flex;
    justify-content: space-around;

}

.action-sec .left-side .title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-sec .left-side .sub-title {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
    margin: 23px 0px 23px 0px;
}

.action-sec .left-side {
    width: 517px;
}

main img {
    max-width: 100%;
    border-radius: 48px;
}

/* productive section */
.users-section {
    background-color: rgba(14, 18, 235, 0.1);
    width: 800px;
    height: 306px;
    margin: 50px 140px 50px 150px;
    text-align: center;
    padding: 50px 140px;
    border-radius: 24px;
}

.users-section .productive-section {
    display: flex;
    justify-content: center;
    gap: 100px;
}


.sec h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: inter;
    color: #4E47FF;
}

.sec {
    width: 180px;
    height: 121px;
    gap: 0px;
}

.text-center {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.feedback-sec {
    display: flex;
    gap: 20px;
}

.feedback {
    border-radius: 14px;
    background-color: rgba(223, 208, 208, 0.452);
    padding: 24px;
}

.image-with-info img {
    width: 40px;
    height: 40px;
}

.image-with-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.info .name,
.dte {
    font-size: 15px;
}

.users-feedback-sec {
    margin: 137px 150px;
}


.sec-container img {
    width: 600px;
    height: 250px;
}

.sec-container {
    text-align: center;
    background-color: #e7c0c0;
    width: 900px;
    margin: auto 70px;
    border-radius: 14px;
    padding: 70px 150px;
}

.mrgin {
    margin-bottom: 20px;
}