body {
    font-family: Raleway;


}


.cmn {
    background-color: #F5F8FF;
}

.header-sec {
    background-image: url(../Assets/Hero-bg.png);
    background-position: cover;
    max-width: 100%;
}

/* button styles */
.color-btn {
    border-radius: 10px;
    padding: 12px 20px;
    background-color: #4E47FF;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.color-btn:hover {
    border-radius: 15px;
    padding: 15px 25px;
    background-color: #f54905;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-section {
    text-align: center;
    margin: 158px auto 200px auto;
}

.nav-section h2,
.footer-title {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
    font-family: Inter;
}

.banner-section .heading-sec {
    font-size: 65px;
    color: #252432;
    margin-bottom: 37px;
}

/* action section */
.action-sec {
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 40px;

}

.action-sec .left-side .title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-sec .left-side .sub-title {
    font-size: 24px;
    font-weight: 400px;
    color: #8987A1;
    margin: 23px 0px 23px 0px;
}

.action-sec .left-side {
    width: 517px;
}

main img {
    max-width: 100%;
    border-radius: 48px;
}

/* productive section */
.users-section {
    background-color: rgba(14, 18, 235, 0.1);
    max-width: 800px;
    height: 306px;
    margin: 50px 140px 50px 150px;
    text-align: center;
    padding: 50px 140px;
    border-radius: 24px;
}

.users-section .productive-section {
    display: flex;
    justify-content: center;
    gap: 100px;
}


.sec h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: inter;
    color: #4E47FF;
    margin: 0px;
}

.sec p {
    margin: 0px;
}

.sec {
    width: 180px;
    height: 121px;
    gap: 0px;
}

.text-center {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.feedback-sec {
    display: flex;
    gap: 20px;
}

.feedback {
    border-radius: 14px;
    background-color: rgba(223, 208, 208, 0.452);
    padding: 24px;
}

.image-with-info img {
    width: 40px;
    height: 40px;
}

.image-with-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.info .name,
.dte {
    font-size: 15px;
}

.dte {
    color: #8987A1;
    font-weight: 400px;
}

.users-feedback-sec {
    margin: 137px 150px;
}


.sec-container img {
    width: 600px;
    height: 250px;
}

.sec-container {
    text-align: center;
    background-color: #e7c0c0;
    width: 900px;
    margin: auto 70px;
    border-radius: 14px;
    padding: 70px 150px;
}

.mrgin {
    margin-bottom: 20px;
}

.touch-section {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 100px;
    gap: 100px;
}

.touch-sec-title {
    font-size: 80px;
    font-weight: bold;
    width: 500px;
}

.touch-form-sec {
    width: 497px;
}

form {
    width: 50%;
}

input,
textarea {
    border-radius: 5px;
    font-size: 16px;
    display: block;
    height: 15px;
    width: 100%;
    padding: 18px 50px 18px 30px;
    margin-bottom: 20px;
    border: none;
    font-weight: 800px;
    background-color: #f7f1f1f6;
}

textarea {
    height: 50px;
}

.btns {
    display: block;
    width: 320px;
}

form {
    font-weight: bold;
    font-family: inter;
}

/* footer-title */
.footer-title {
    font-size: 100px;
    font-weight: 800px;
    margin: 0px;
}

footer {
    text-align: center;
    width: 530px;
    margin: 20px 400px;
    padding: 20px 50px;
}

footer p {
    font-size: 15px;
    color: #8987A1;
    margin-top: 0px;
}

footer .links a {
    text-decoration: none;
    color: #8987A1;
    margin-right: 10px;
}